<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'academy/style.css' %}">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        УрФУ
        {% endblock title %}
    </title>
</head>
<body>
  <table>
      <tr>
          {% block sidebar %}
            <td class="sidebar">
                <p class="menuitem"><a href="/academy/">Институты</a></p>
                <p class="menuitem"><a href="/academy/about">Об университете</a></p>
                <p class="menuitem"><a>Контакты</a></p>
            </td>
          {% endblock sidebar %}
          <td class="content">
              {% block content %}
                <p>Уральский Федеральный Университет им. первого президента России Б.Н.Ельцина</p>
              {% endblock content %}
          </td>
      </tr>
  </table>
</body>
</html>